extends layout

block content
  h1= title
  p Chat #[strong anonymously] with anyone and everyone.
  if user 
    p hey  #{user.username}
    p You are currently logged-in!
  else 
    p hey Anonymous 
    p You are currently logged out
    p To sign-up visit:- #[a(href="/signup") Sign up ]
    p To login visit:- #[a(href="/login") Log In] 
  p To visit Anon Chat space:- #[a(href="/chat") Chat]
