extends layout

block content
  h1= title
  p Chat #[strong anonymously] with anyone and everyone.
  p To sign-up visit:- #[a(href="/signup") Sign up ]
  p To login visit:- #[a(href="/login") Log In] 
  p To visit chat as an a anonymous user:- #[a(href="/chat") Chat]
